<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>역검색</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="/css/menu.css" rel="stylesheet">
    <link href="/css/search/search.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/subwayMap/subwaymap.css" rel="stylesheet">
    <style>
        .map-area{
            flex: 3;
            padding: 20px;
            justify-items: center;
            align-items: center;
            margin-left: 50px;
            overflow: auto;
            max-width: 100%;
            max-height: 100%;
            border: 1px solid #ddd;
        }
        .map-area::-webkit-scrollbar{
            display: none;
        }
    </style>
</head>
<body>

<div th:insert="~{fragments/menu :: menuBar}"></div>

<div class="container">
    <div class="search-area">
        <h3><img src="/images/peoplegroup.png" alt="내 위치 아이콘" class="g_icon"> 역의 혼잡도 검색</h3>
        <a>역을 먼저 설정하시고 호선을 선택 후 시간을 설정 해주세요.</a>
        <div class="input-container">
            <input id="searchInput" type="text" placeholder="지하철역 입력" autocomplete="off">
            <ul id="stationList"></ul>
            <select id="stationLineList" class="input-container">
                <option value="">호선</option>
            </select>
        </div>

        <div class="time-select">
            <select id="ampm">
                <option value="AM">오전</option>
                <option value="PM">오후</option>
            </select>
            <select id="hour">
                <option value="">시간</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <select id="minute">
                <option value="">분</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="51">51</option>
                <option value="52">52</option>
                <option value="53">53</option>
                <option value="54">54</option>
                <option value="55">55</option>
                <option value="56">56</option>
                <option value="57">57</option>
                <option value="58">58</option>
                <option value="59">59</option>
            </select>
            <button class="search-btn2">
                <img src="/images/magnifiericon.png" alt="검색 아이콘" class="icon-search">
            </button>
        </div>
        <div id="congestion"><a href="/goCongestion">혼잡도란?</a></div>
        <div class="new-box">
            <!-- 기본 메시지 표시 영역 -->
            <div id="default-message">검색 결과</div>
            <div><span id="input-time"></span></div>
            <div id="result-container">
                <!-- JavaScript로 데이터를 추가할 예정 -->
            </div>
        </div>
    </div>

    <div class="map-area">
        <div class="subwayMap" th:insert="~{fragments/subwayMap::subwayMap}"></div>
    </div>
</div>

</body>
<script src="/js/subwayMap/zoom2.js" defer></script>
<script type="text/javascript" src="/js/search/search.js"></script>
</html>