#stationList {
    display: none;
    width: 100%;
    border: 1px solid #ccc;
    max-height: 200px;
    background-color: #ffffff;
    position: absolute;
    z-index: 1000;
    overflow-y: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    padding: 2rem 3rem;
    background-color: white;
}

.search-area {
    width: 20%;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
}

.search-area h3 {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}


.search-area h3:first-of-type {
    margin-top: 5rem;
}


.search-area h3:nth-of-type(2) {
    margin-top: 7rem;
}

.input-container, .direct-input, .time-select {
    width: 100%;
    margin-bottom: 1rem;
}


select, input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
}

select:focus, input:focus {
    outline: none;
    border-bottom: 2px solid #001f3f;
}


.time-select {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.map-area {
    width: 65%;
    text-align: center;
}

.map {
    width: 95%;
    height: auto;
    border: none;
    border-radius: 8px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

/* 투명한 입력 상자 */
.input-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    position: relative;
}

.input-container input {
    border: none;
    background-color: transparent;
    width: 85%;
    padding-left: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.icon-search {
    width: 25px;
    height: 20px;
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #f0f0f0;
}

.left-section {
    display: flex;
    align-items: center;
}

.line-number {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.station-name {
    margin-left: 0.5rem;
}

.status-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}

.status-time {
    color: #000000;
    font-size: 0.9rem;
    margin-right: 1rem;
}

.progress-bar {
    position: relative;
    width: 50%;
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 0.5rem;
}

.progress {
    height: 100%;
}

.status-label {
    font-size: 0.9rem;
}

#default-message {
    font-size: 1.2rem; /* 폰트 크기 조정 */
    font-weight: bold; /* 글씨를 강조 */
    margin-bottom: 1rem; /* 단어 아래에 여백 추가 */
    text-align: left; /* 중앙 정렬 */
}

.new-box {
    width: 90%;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #dddddd;
    border-radius: 8px;
    text-align: left;
    font-size: 1rem;
    color: #333333;
    margin-top: 1.5rem;
}

#input-time {
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#stationLineList {
    border: none;
    background-color: transparent;
    text-align: center;
}