#stationList {
    width: 300px;
    border: 1px solid #ccc;
    max-height: 200px;
    background-color: #ffffff;
    position: absolute;
    z-index: 1000;
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    padding: 2rem 3rem;
    background-color: white;
}

.search-area {
    width: 20%;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
}

.search-area h3 {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}


.search-area h3:first-of-type {
    margin-top: 5rem;
}


.search-area h3:nth-of-type(2) {
    margin-top: 7rem;
}

.input-container, .direct-input, .time-select {
    width: 100%;
    margin-bottom: 1rem;
}


select, input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
}

select:focus, input:focus {
    outline: none;
    border-bottom: 2px solid #001f3f;
}


.time-select {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}


.time-select-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.icon-search {
    width: 25px;
    height: 20px;
}

.line-number-div{
    width:8%;
}

.station-name-div{
}

.delete_favorite_button-div{
    width:35%;
}

.favoriteList_time {
    margin: 10px 0;
}

.favoriteList-content {
    /*display: flex;*/
    flex-direction: column; /* 세로 방향 정렬 */
    /*margin-bottom: 20px; !* 항목 간 여백 *!*/

    flex: 1 1 200px; /* 각 항목의 최소 너비 설정 */
    margin: 10px; /* 항목 간 간격 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 (선택 사항) */
    padding: 10px; /* 패딩 추가 (선택 사항) */
    border-radius: 5px; /* 모서리 둥글게 (선택 사항) */

}

.topItems {
    display: flex;
    align-items: center; /* 수직 정렬 */
    justify-content: flex-start; /* 양쪽 끝 정렬 */
    font-weight: bold; /* 굵은 글씨 */
    margin-bottom: 10px; /* 아래 여백 */
}

.topItems .delete_favorite_button{
    margin-left: 20%; /* 버튼을 오른쪽으로 밀어내기 */
    /*margin-right: 40%;*/
}

.middleItems{
    display: flex;
    flex-direction: row; /* 가로 방향 정렬 */
    margin-bottom: 10px; /* 아래 여백 */
    width:60%;
}

.rightItems{
    margin-top: auto; /* 하단에 위치하도록 설정 */
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
}


.line-number {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.station-name {
    margin-left: 0.5rem;
}

/*혼잡도 표기 바*/
.status-bar {
    display: flex;
    position: relative;
    width: 35%;
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 0.5rem;
    margin-top: 8px;
    margin-left: 8px;
}

/*혼잡도 별 바 스타일*/
.crowded{
    width:100%;
    height: 100%;
    background-color:red;
}

.normal{
    width:100%;
    height: 100%;
    background-color:orange;
}

.spacious{
    width:100%;
    height: 100%;
    background-color:green;
}

.default-congestion{
    color:gray;
}

.status-time {
    color: #000000;
    font-size: 0.9rem;
    margin-right: 1rem;
}

.progress {
    height: 100%;
}

.status-label {
    font-size: 0.9rem;
}

#favoriteList_header {
    font-size: 1.2rem; /* 폰트 크기 조정 */
    font-weight: bold; /* 글씨를 강조 */
    margin-bottom: 1rem; /* 단어 아래에 여백 추가 */
    text-align: left; /* 중앙 정렬 */
}

.favoriteList_container {
    display: flex; /* 가로 정렬을 위해 flex 사용 */
    flex-wrap: wrap; /* 필요에 따라 줄 바꿈 */

    width: 90%;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #dddddd;
    border-radius: 8px;
    text-align: left;
    font-size: 1rem;
    color: #333333;
    margin-top: 1.5rem;
}

/*호선 마크 스타일 정의*/
/*타임리프와 연동되니 조심해서 건드리기*/
.lines {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.default-line {
    background-color: transparent; /* 기본 스타일 */
    padding: 5px;

}

.line1 {
    background-color: #0032A0;
    color: white;
}

.line2 {
    background-color: #00B140;
    color: white;
}

.line3 {
    background-color: #FC4C02;
    color: white;
}

.line4 {
    background-color: #00A9E0;
    color: white;
}

.line5 {
    background-color: #A05EB5;
    color: white;
}

.line6 {
    background-color: #A9431E;
    color: white;
}

.line7 {
    background-color: #67823A;
    color: white;
}

.line8 {
    background-color: #E31C79;
    color: white;
}

.line9 {
    background-color: #8C8279;
    color: white;
}

