<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글</title>
  <link rel="stylesheet" href="/css/board/boardContent.css">
  <script defer src="/js/board/board.js"></script>
  <link href="/css/menu.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments/menu :: menuBar}"></div>

<div class="container">
  <form th:action="@{/board}">
    <button class="btn-back">목록</button>
  </form>

  <!-- 게시글 제목 -->
  <div class="post-header">
    <h2 th:text="${board.title}" th:field="${board.title}"></h2>
  </div>

  <div class="post-meta">
    <img th:src="${board.user.userImgPath}" alt="작성자 이미지" class="user-img">
    <div class="meta-info">
      <span class="username" th:text="${board.user.nickname}">hello</span>
      <span class="date" th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}">2024.05.25. 10:51</span>
    </div>
  </div>

  <!-- 게시글 내용 DB에서 불러 올 수 있게 기능 추가 필요 -->
  <div class="post-content">
    <p th:text="${board.boardText}">
    </p>
  </div>

  <!-- 좋아요/싫어요 나중에 카운팅 되게 끔 기능 추가 필요 -->
  <div class="post-actions">
    <div class="action-item">
      <div class="thumbsUpContainer" id="thumbsUpContainer">
        <img src="/images/thumbsup.png" alt="좋아요 아이콘" class="icon">
      </div>
      <span class="label">좋아요</span>
      <input type="text" readonly="readonly" class="count" id="thumbsUpCount" th:value="${board.thumbsUp}">
    </div>
    <div th:class="action-item">
      <div class="thumbsDownContainer" id="thumbsDownContainer">
        <img src="/images/thumbsdown.png" alt="싫어요 아이콘" class="icon">
      </div>
        <span class="label">싫어요</span>
        <input type="text" readonly="readonly" class="count" id="thumbsDownCount" th:value="${board.thumbsDown}">
    </div>
  </div>
<!--  <input type="hidden" id="thumbsUp" th:name="${userRec.isThumbsUp()}" th:value="${userRec.isThumbsUp()}">-->
<!--  <input type="hidden" id="thumbsDown" th:name="${userRec.isThumbsDown()}" th:value="${userRec.isThumbsDown()}">-->
  <input type="hidden" id="thumbsUp" th:value="${userRec.isThumbsUp()}">
  <input type="hidden" id="thumbsDown" th:value="${userRec.isThumbsDown()}">
  <input type="hidden" id="priorThumbsUp" th:value="${userRec.isThumbsUp()}">
  <input type="hidden" id="priorThumbsDown" th:value="${userRec.isThumbsDown()}">
  <!-- 하단 수정/삭제 버튼 -->
  <div class="footer-buttons">
    <div class="footer-right">
<!--      <form th:action="@{/board/update(no=${board.boardNo})}">-->
<!--        <form method="get" th:action="@{/board/update?no=${board.boardNo}}">-->
      <form method="get" th:action="@{/board/updateBoard}">
          <input type="hidden" name="no" th:value="${board.boardNo}"/>
        <button type=submit class="btn btn-edit" th:if="${board.user.userId} == ${sessionUser.userId}">글수정</button>
      </form>
      <form th:action="@{/board/delete}">
          <input type="hidden" name="no" th:value="${board.boardNo}" id="boardNo"/>
        <button class="btn btn-delete" th:if="${board.user.userId} == ${sessionUser.userId}">삭제</button>
      </form>
    </div>
  </div>
</div>
<script>
   document.addEventListener('DOMContentLoaded', function () {
     let thumbsUp = document.getElementById("thumbsUp").value.toLowerCase() === "true";
     let thumbsDown = document.getElementById("thumbsDown").value.toLowerCase() === "true";

     let hiddenUp = document.getElementById('thumbsUp').value.toLowerCase() === "true";
     let hiddenDown = document.getElementById('thumbsDown').value.toLowerCase() === "true";
     const thumbsUpContainer = document.getElementById('thumbsUpContainer');
     const thumbsDownContainer = document.getElementById('thumbsDownContainer');
     let thumbsUpCount = document.getElementById('thumbsUpCount');
     let thumbsDownCount = document.getElementById('thumbsDownCount');
     // console.log("thumbsUpCount value : " + thumbsUpCount.value);
     if (thumbsUp === true) {
       thumbsUpContainer.classList.add('thumbsUpActive');
     } else if (thumbsDown === true) {
       thumbsDownContainer.classList.add('thumbsDownActive')
     }
     thumbsUpContainer.addEventListener('click', function () {
       // console.log("true false1 :" + typeof (thumbsUp));
       thumbsUp = !thumbsUp;
       // console.log('true false2 : ' + thumbsUp)
       if (thumbsUp === true && thumbsDown === true) {
         // console.log(thumbsUpCount.value)
         thumbsDown = false;
         thumbsUpContainer.classList.add('thumbsUpActive'); // 강조 효과
         thumbsUpCount.text = String(parseInt(thumbsUpCount.text) + 1); // 카운트 증가
         thumbsUpCount.value = String(parseInt(thumbsUpCount.value) + 1); // 카운트 증가
         thumbsDownContainer.classList.remove('thumbsDownActive');
         thumbsDownCount.text = String(parseInt(thumbsDownCount.text) - 1); // 카운트 감소
         thumbsDownCount.value = String(parseInt(thumbsDownCount.value) - 1); // 카운트 감소
         // console.log(thumbsUpCount)
         // console.log('좋아요')
       } else if (thumbsUp === true) {
         // console.log('thumbsUpCount type : ' + typeof(thumbsUpCount));
         // console.dir(thumbsUpCount.value);
         // console.log('text2 ' + parseInt(thumbsUpCount.textContent));
         thumbsUpContainer.classList.add('thumbsUpActive'); // 강조 효과
         thumbsUpCount.text = String(parseInt(thumbsUpCount.text) + 1); // 카운트 증가
         thumbsUpCount.value = String(parseInt(thumbsUpCount.value) + 1); // 카운트 증가
         // console.log('좋아요')
         // console.log(thumbsUpCount)
       } else {
         thumbsUpContainer.classList.remove('thumbsUpActive'); // 강조 효과
         thumbsUpCount.text = String(parseInt(thumbsUpCount.text) - 1); // 카운트 감소
         thumbsUpCount.value = String(parseInt(thumbsUpCount.value) - 1); // 카운트 감소
         // console.log('좋아요')
       }
       hiddenUp = thumbsUp;
       hiddenDown = thumbsDown;
     })

     thumbsDownContainer.addEventListener('click', function () {
       thumbsDown = !thumbsDown;
       if (thumbsDown === true && thumbsUp === true) {
         thumbsUp = false;
         thumbsUpContainer.classList.remove('thumbsUpActive'); // 강조 효과
         thumbsUpCount.text = String(parseInt(thumbsUpCount.text) - 1); // 카운트 감소
         thumbsUpCount.value = String(parseInt(thumbsUpCount.value) - 1); // 카운트 감소
         thumbsDownContainer.classList.add('thumbsDownActive');
         thumbsDownCount.text = String(parseInt(thumbsDownCount.text) + 1); // 카운트 증가
         thumbsDownCount.value = String(parseInt(thumbsDownCount.value) + 1); // 카운트 증가
       } else if (thumbsDown === true) {
         thumbsDownContainer.classList.add('thumbsDownActive'); // 강조 효과
         thumbsDownCount.text = String(parseInt(thumbsDownCount.text) + 1); // 카운트 증가
         thumbsDownCount.value = String(parseInt(thumbsDownCount.value) + 1); // 카운트 증가
       } else {
         thumbsDownContainer.classList.remove('thumbsDownActive'); // 강조 효과
         thumbsDownCount.text = String(parseInt(thumbsDownCount.text) - 1); // 카운트 감소
         thumbsDownCount.value = String(parseInt(thumbsDownCount.value) - 1); // 카운트 감소
       }
       hiddenUp = thumbsUp;
       hiddenDown = thumbsDown;
       }
     )
     const aLink = document.querySelectorAll('a');
     const boardNo = document.getElementById('boardNo').value;
     const priorThumbsUp = document.getElementById('priorThumbsUp').value.toLowerCase() === "true";
     const priorThumbsDown = document.getElementById('priorThumbsDown').value.toLowerCase() === "true";
     aLink.forEach(link => {
       link.addEventListener('click', function (e) {
         e.preventDefault();
         location.href="/board/recommendation?url=" + link.href.substring(21) + "&boardNo=" + boardNo + "&isThumbsUp="
                 + hiddenUp + "&isThumbsDown=" + hiddenDown + "&priorThumbsUp=" + priorThumbsUp + "&priorThumbsDown=" + priorThumbsDown;
       });
     });
     const buttonLink = document.querySelectorAll('button');
     buttonLink.forEach(link => {
       link.addEventListener('click', function (e) {
         e.preventDefault();
         location.href="/board/recommendation?url=" + link.form.action.substring(21) + "&boardNo=" + boardNo + "&isThumbsUp="
                 + hiddenUp + "&isThumbsDown=" + hiddenDown + "&priorThumbsUp=" + priorThumbsUp + "&priorThumbsDown=" + priorThumbsDown;
       });
     });
   })
</script>
</body>
</html>
