<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보</title>
    <link href="/css/user/myProfile.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet">
</head>

<body>

<div th:insert="~{fragments/menu :: menuBar}"></div>

<!--/* 회원 프로필 DB 가져와야댐 */-->
<div class="middleArea">
<div class="container">
    <h2>회원 정보</h2>

    <form method="post" th:action="@{/myProfile}"  id="profileForm" >
        <div class="profile-picture">
            <img id="profilePic" th:src="${sessionUser.userImgPath != null ? sessionUser.userImgPath : '/images/img_4.png'}" alt="프로필 사진">
        </div>

        <!-- readonly 이용해서 수정 못하는 칸을 막았습니다 -->
        <label for="username">아이디</label>
        <input type="text" readonly="readonly" id="username" name="username" placeholder="아이디"  th:value="${sessionUser.userId}">

        <label for="nickname">닉네임</label>
        <input type="text" readonly="readonly" id="nickname" name="nickname" placeholder="이름" th:value="${sessionUser.nickname}">

        <label for="email">이메일 주소</label>
        <input type="email" readonly="readonly" id="email" name="email" placeholder="이메일" th:value="${sessionUser.userEmail}">

        <div class="buttons">
            <a href="/myPage" class="change-button" role="button">내 정보 수정</a>
        </div>
    </form>
</div>
</div>

</body>
</html>
