<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link href="/css/menu.css" rel="stylesheet">
</head>
<body>

<div th:fragment="menuBar">

    <div class="logo-container">
        <a href="/"><img src="" alt="로고" class="logo"></a> <!-- 로고 이미지 경로 추가 -->
    </div>

    <!-- 메뉴 바 - 각 메뉴에 경로 필요 -->
    <nav class="navbar">
        <div class="nav-items">
            <ul class="nav-items" sec:authorize="hasAuthority('user')">
                <li><a href="/goSearch">역 검색</a></li>
                <li><a href="#">즐겨찾기</a></li>
                <li><a href="#">내 주변</a></li>
                <li><a href="#">방명록</a></li>
            </ul>
            <ul class="nav-items" sec:authorize="hasAuthority('admin')">
                <li><a href="#">유저 리스트</a></li>
                <li><a href="/board">방명록 관리</a></li>
            </ul>
        </div>

        <div class="guestMember">
            <div sec:authorize="!isAuthenticated()" class="guest">
                <a href="/goLogin" class="login btn btn-outline-light" role="button">로그인</a>
                <a href="/goRegister" class="register btn btn-outline-light" role="button">회원가입</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="member">
                <img th:src="${sessionUser.userImgPath}">
                <a href="/logout">로그아웃</a>
                <a href="#">내 정보</a>
            </div>
        </div>
    </nav>
</div>

</body>
</html>