#custom-navbar {
    background-color: #0f4c81 !important;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.container-fluid {
    background-color: #0f4c81;
}

.logo {
    width: 100px;
    height: auto;
}

.d-flex {
    color: white !important;
    margin-left: 10px;
}

.navbar-nav .nav-item {
    margin-left: 50px;
    margin-right: 50px;
}