/* 기본 Container 스타일 */
.container {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 615px;
    margin-top: 10px;
}

/* 제목 영역 스타일 */
.form-header {
    padding: 10px;
    text-align: left;
    margin-top: -20px;
}

.form-header h2 {
    font-size: 27px;
    margin-bottom: 23px;
    display: inline-block;
    margin-top: 15px;
}

/* 제목 입력 칸의 고정 너비 설정 */
.title-input {
    width: 382px; /* 제목 입력 칸을 고정 너비로 설정 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 10px;
}

/* 내용 입력 칸의 고정 너비 및 폰트 크기 설정 */
.text-area {
    width: 770px; /* 내용 입력 칸을 고정 너비로 설정 */
    height: 330px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    resize: none; /* 사용자가 크기 조절하지 못하게 설정 */
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
}

/* 기본적인 폼 그룹 스타일 */
.form-group {
    margin-bottom: 13px;
    margin-top: 10px;
    position: relative;
}

/* 부모 컨테이너 스타일 */
.select-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* 호선 선택 박스 스타일 */
#line-select {
    width: 120px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 15px;
    background-color: #f9f9f9;
    color: black;
}

/* 역 선택 박스 스타일 */
#station-select {
    width: 180px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    color: black;
}

/* 유저 ID 표시 영역 */
.user-id {
    display: inline-block;
    font-size: 17px;
    float: right;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #676767;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-top: 11px;
    position: relative;
    top: -51px;
}


/* 글쓰기 버튼 스타일 */
.write-button {
    position: absolute;
    top: 3px;
    right: 10px;
    background-color: #181f31;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/* 마우스가 버튼 위에 있을 때 스타일 */
.write-button:hover {
    background-color: white;
    color: #181f31;
    border: 1px solid #181f31;
}

/* 호선별 색상 설정 */
.line-1 {
    background-color: #0032a0;
    color: white;
}

.line-2 {
    background-color: #00b140;
    color: white;
}

.line-3 {
    background-color: #fc4c02;
    color: black;
}

.line-4 {
    background-color: #00a9e0;
    color: white;
}

.line-5 {
    background-color: #a05eb5;
    color: white;
}

.line-6 {
    background-color: #a9431e;
    color: white;
}

.line-7 {
    background-color: #67823a;
    color: white;
}

.line-8 {
    background-color: #e31c79;
    color: white;
}

.line-9 {
    background-color: #8c8279;
    color: white;
}
